.ingredientList {
  overflow: scroll;
  flex-wrap: wrap;

  scrollbar-color: #8585ad;
  scrollbar-width: 4px;
}

.section_header {
  text-align: start;
}

.ingredientSection {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
}

.ingredientSection_grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, calc(50%));
}

.ingredientList::-webkit-scrollbar {
  width: 8px;
  height: calc(100% - 50px);
}

.ingredientList::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.ingredientList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
