.container {
  display: flex;
  align-self: start;
  align-items: center;
  width: 272px;
  height: 208px;
  flex-direction: column;
  cursor: grab;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 120px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 72px;
}

.price {
  display: flex;
  align-items: center;
  
}

.name {
  height: 48px;
  text-align: center;
}

.ingredient_link {
  text-decoration: none;
  color: #fff;
}

.counter {
  position: absolute;
}

.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
