.feed_container {
  max-width: 1240px;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: 1240px;
  column-gap: 30px;
}

.header {
    width: 1240px;
    margin: 40px auto 20px auto;
}
