.container {
  position: relative;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close_btn:hover {
  transform: scale(1.2);
  color: #801ab3;
}
